:root{
     --blue-1: #003366;
     --blue-2: #003399;
     --blue-3: #0033ff;
     --primary-color: #B1CBF5;
     --dark: #181f2a;
     --resume: #0e374e;
     }
::-webkit-scrollbar{
     width: 5px;
}
::-webkit-scrollbar-thumb{
     background-color: var(--primary-color);
}
::-webkit-scrollbar-track{
     background-color: white;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins";
}
a,button{
     cursor: pointer;
     text-decoration: none;
     color: white;
}
body{
     background-color: var(--dark);
}
.mobile{
     display: none;
}
.desktop{
     display: flex;
     width: 100%;
     min-height: 100vh;
     /* background: rgba(0, 0, 0, 0.25) url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54587.jpg?w=740&t=st=1665221064~exp=1665221664~hmac=d747bf575dd270c18f298415b47e235c6ad25c8b9ffed3b49492a34c1455eef5) no-repeat center;
     background-size: cover; */
}
.desktop .side-nav{
     position: relative;
}
.desktop .side-nav aside{
     position: fixed;
     left: 0;
     top: 0;
     height: 100vh;
     width: 25%;
     background-color: rgb(255, 255, 255, 0.10);
     backdrop-filter: blur(5px);
     padding: 25px;
}
.desktop .side-nav aside .image-wrapper{
     width: 50%;
     margin: auto;
}
.desktop .side-nav aside .image-wrapper img{
     width: 100%;
}
.desktop aside nav a {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     gap: 10px;
     text-decoration: none;
     color: white;
}
.desktop aside nav a p{
     transition: ease-in-out 0.5s;
}
.desktop aside nav a:hover p{
     color: var(--primary-color);
     font-weight: 900;
     font-size: 16px;
}
.desktop aside .contact-links .tel-wrapper,
.desktop aside .contact-links .email-wrapper {
     display: flex;
     gap: 5px;
     align-items: center;
     margin-bottom: 15px;
}
.desktop aside .contact-links .tel-wrapper i,
.desktop aside .contact-links .email-wrapper i,
.desktop nav a i {
     font-size: 15px;
     color: black;
     background-color: white;
     border-radius: 50%;
     padding: 8px;
}
.desktop aside .contact-links .tel-wrapper a,
.desktop aside .contact-links .email-wrapper a,
.desktop nav a p {
     text-decoration: none;
     color: white;
     font-size: 12px;
}
.desktop aside .contact-links .social-media-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 5px;
}
.desktop aside .contact-links .social-media-icons img {
     width: 45px;
}

.desktop aside .contact .contact-content p {
     text-align: center;
     font-size: 12px;
     color: white;
}

.desktop aside .contact .contact-content p a {
     color: white;
     text-decoration: none;
     padding-top: 100px;
}

/* HOME */
.desktop .home {
     padding-left: 25%;
     color: white;
     scroll-behavior: smooth;
     scroll-snap-type: y mandatory;
     overflow-y: scroll;
     height: 100vh;
}
.desktop .home .page{
     scroll-snap-align: start;
}
.desktop .home .home-wrapper{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.desktop .home-content{
     display: flex;
     align-items: center;
     /* gap: 25px; */
     padding: 25px;
     padding-top: 50px;
     margin-bottom: 100px;
}
.desktop .home-text-wrapper {
     width: 60%;
}
.desktop .home-text-wrapper .home-text .hello {
     font-weight: 700;
}
.desktop .home-text-wrapper .home-text h2 {
     font-size: 45px;
     font-weight: 900;
     color: var(--primary-color);
     font-family: 'poppins';
}
.desktop .home-text-wrapper .home-text .description {
     color: var(--gray);
     margin-bottom: 25px;
}
.desktop .home-text-wrapper .home-text a {
     text-decoration: none;
     background-color: var(--primary-color);
     color: black;
     padding: 10px 12px;
     border-radius: 8px;
     font-size: 12px;
     font-weight: 600;
     transition: 0.5s;
}
.desktop .home-text-wrapper .home-text a:hover{
     padding: 12px 15px;
}
.desktop .home-image-wrapper {
     width: 40%;
}
.desktop .home-image-wrapper img {
     width: 100%;
}
.desktop .home .flex{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.desktop .home .flex-content{
     padding: 10px;
     display: flex;
}
.desktop .home .about-content{
     width: 50%;
}
.desktop .home .about-content .about-header {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
     margin-bottom: 15px;
}
.desktop .home .about-content .about-header i {
     font-size: 20px;
     color: var(--primary-color);
}
.desktop .home .about-content .about-header h1 {
     font-size: 25px;
     color: var(--primary-color);
}
.desktop .home .about-content .about-img-wrapper {
     width: 20%;
     margin: auto;
}
.desktop .home .about-content .about-img-wrapper img {
     width: 100%;
}
.desktop .home .about-content .about-text-wrapper {
     width: 90%;
     margin: auto;
}

/* SKILLS/TECHNOLOGIES */
.desktop .home .skillset{
     width: 50%;
}
.desktop .home .skillset h1{
     text-align: center;
     margin: 20px;
     text-transform: uppercase;
     color: var(--primary-color);
}
.desktop .home .skillset .skills{
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     /* justify-content: center; */
}
.desktop .home .skillset .skills i{
     font-size: 40px;
     color: var(--primary-color);
}
.desktop .home .skillset .skills i:hover{
     color: white;
}
.desktop .home .skillset .skills p{
     background-color: rgba(177, 203, 245, 0.75);
     padding: 5px 8px;
     color: black;
     border-radius: 5px;
}

/* RESUME */
.resume{
     padding: 25px;
     padding-left: 27%;
     color: black;
}
.resume .resume-content{
     background-color: white;
     padding: 25px;
}
.resume .resume-content .top{
     background-color: var(--resume);
     padding: 50px 25px;
     text-align: center;
     margin-bottom: 15px;
     color: white;
}
.resume .resume-content .top .links{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 15px;
     margin: 25px 0 0
}
.resume .resume-content .top .links .link{
     display: flex;
     align-items: center;
     gap: 5px;
     font-size: 12px;
}
.resume .resume-content .top .links .link i{
     color: var(--primary-color);
}
.resume .resume-content .bottom h4{
     text-align: center;
     background-color: rgba(225, 225, 225, 0.45);
     backdrop-filter: blur(15px);
     margin: 15px 0;
     color: var(--resume);
}
.resume .resume-content .bottom .profile p,
.resume .resume-content .bottom .technologies p,
.resume .resume-content .bottom .tools p,
.resume .resume-content .bottom .skills p{
     font-size: 12px;
}
.resume .resume-content .bottom .experience{
     margin-bottom: 15px;
}
.resume .resume-content .bottom .experience .details{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 12px;
     padding-bottom: 15px;
}
.resume .resume-content .bottom .experience .role{
     padding-left: 5%;
     font-size: 12px;
}

/* PROJECTS */
.desktop .project {
     padding: 50px 0;
     padding-left: 25%;
     color: white;
}

.desktop .project .project-header {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
     margin-bottom: 50px;
}

.desktop .project .project-header i {
     font-size: 30px;
     color: var(--primary-color);
}

.desktop .project .project-header h1 {
     font-size: 35px;
     color: var(--primary-color);
}

.desktop .project-details {
     display: flex;
     gap: 25px;
     width: 90%;
     margin: auto;
     flex-wrap: wrap;
     justify-content: space-between;
}

.desktop .project-details .projects-outlined {
     width: 250px;
     height: 250px;
     border-radius: 10px;
     overflow: hidden;
     cursor: pointer;
}
.desktop .project-details .fylo {
     background: url(images/fylo.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .harvoxx {
     background: url(./images/harvoxx.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .crappo {
     background: url(./images/crappo.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .rating {
     background: url(./images/rating.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .form {
     background: url(./images/form.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .church {
     background: url(./images/church.png) no-repeat center;
     background-size: cover;
}
.desktop .project-details .projects-outlined .text-container {
     display: none;
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0, 0.5);
     backdrop-filter: blur(5px);
     color: white;
     padding: 25px 20px;
     align-items: center;
     justify-content: center;
     transition: ease-in-out 0.4s;
}
.desktop .project-details .projects-outlined:hover .text-container{
     display: flex;
}
.desktop .project-details .text-container h1 {
     color: var(--primary-color);
     text-align: center;
     margin-bottom: 15px;
     font-size: 18px;
     text-transform: uppercase;
}

.desktop .project-details .text-container p {
     /* color: black; */
     font-size: 12px;
     margin-bottom: 25px;
}
.desktop .project-details .text-container p a{
     color: var(--primary-color);
}
.desktop .project-details .text-container .links{
     display: flex;
     justify-content: center;
     align-items: center;
}
.desktop .project-details .text-container a{
     text-decoration: none;
     color: white;
}
.desktop .project-details .text-container a:hover i{
     color: var(--primary-color);
}
.desktop .project-details .text-container a i{
     font-size: 20px;
     /* color: black; */
}
.desktop .project-details > a {
     text-decoration: none;
     cursor: pointer;
     color: white;
     font-size: 12px;
}

.desktop .project-details > a:hover {
     color: var(--primary-color);
}

.desktop .contact {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px 0;
     padding-left: 25%;
     color: white;
}

.desktop .contact .contact-header {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
     margin-bottom: 25px;
}

.desktop .contact .contact-header i {
     font-size: 30px;
     color: var(--primary-color);
}

.desktop .contact .contact-header h1 {
     font-size: 35px;
     color: var(--primary-color);
}

.desktop .contact .contact-info {
     display: flex;
     align-items: center;
     margin-bottom: 25px;
}

.desktop .contact .contact-info .contact-links {
     width: 50%;
     padding: 25px;
}

.desktop .contact-links .tel-wrapper,
.desktop .contact-links .email-wrapper {
     display: flex;
     gap: 5px;
     align-items: center;
     margin-bottom: 15px;
}

.desktop .contact-links .tel-wrapper i,
.desktop .contact-links .email-wrapper i {
     font-size: 15px;
     color: black;
     background-color: white;
     border-radius: 50%;
     padding: 10px;
}

.desktop .contact-links .tel-wrapper a,
.desktop .contact-links .email-wrapper a {
     text-decoration: none;
     color: white;
     font-size: 12px;
}

.desktop .contact-links .social-media-icons {
     display: flex;
     gap: 10px;
}

.desktop .contact-links .social-media-icons img{
     width: 45px;
}

.desktop .contact .contact-info form {
     width: 50%;
     padding: 25px;
}

.desktop form input,
.desktop form textarea {
     width: 100%;
     background-color: transparent;
     border: 1px solid white;
     border-radius: 10px;
     padding: 12px;
     margin-bottom: 15px;
     outline: none;
     resize: none;
     color: white;
}
.desktop form input::placeholder,
.desktop form textarea::placeholder{
     color: white;
}
.desktop form input:focus,
.desktop form textarea:focus{
     caret-color: white;
     color: white;
}
.desktop form input[type="submit"] {
     width: 100px;
     background-color: white;
     color: black;
     cursor: pointer;
}
.desktop form input[type="submit"]:hover{
     background-color: var(--primary-color);
     color: white;
}
.desktop .contact .contact-content p {
     text-align: center;
     font-size: 12px;
}

.desktop .contact .contact-content p a {
     color: var(--primary-color);
     text-decoration: none;
     padding-top: 100px;
}

.modal{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(225, 225, 225, 0.45);
     height: 100vh;
     width: 100vw;
     top: 0;
     left: 0;
}
.modal .modal-content{
     background-color: white;
     border-radius: 10px;
     width: 25%;
     padding: 25px;
}
.modal .modal-content i{
     text-align: right;
     font-size: 20px;
     color: red;
}
.modal .content{
     width: 100%;
     height: 150px;
     border-radius: 50%;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
}
.modal .content img{
     width: 100%;
}
.modal .modal-content h1{
     text-align: center;
     color: #60f12d;
     margin-bottom: 25px;
}
.modal .modal-content .btn{
     display: flex;
     justify-content: center;
}
.modal .modal-content button{
     background-color: transparent;
     border: .5px solid black;
     color: black;
     padding: 8px 12px;
     outline: none;
     text-align: center;
     border-radius: 10px;
}
.modal .modal-content button:hover{
     opacity: .5;
}

@media (max-width: 1000px){
     .desktop aside .contact-links{
          margin-bottom: 25px;
     }
     .desktop aside .contact-links .tel-wrapper,
     .desktop aside .contact-links .email-wrapper {
          flex-direction: column;
     }
     .desktop aside .contact-links .tel-wrapper i,
     .desktop aside .contact-links .email-wrapper i,
     .desktop nav a i {
          font-size: 12px;
     }
     .desktop aside .contact-links .tel-wrapper a,
     .desktop aside .contact-links .email-wrapper a,
     .desktop nav a p {
          font-size: 11px;
     }
     .desktop .home-content{
          flex-direction: column-reverse;
     }
     .desktop .home-text-wrapper {
          width: 100%;
          text-align: center;
     }
     .desktop .home-text-wrapper .home-text h2{
          font-size: 35px;
     }
     .desktop .home .about-content,
     .desktop .home .skillset{
          width: 50%;
     }
     .desktop .contact .contact-info {
          flex-direction: column;
          gap: 0;
     }
     .desktop .contact .contact-info .contact-links{
          width: 100%;
          padding: 0 25px;
     }
     .desktop .contact-links .social-media-icons{
          gap: 20px;
     }
     .desktop .contact-links .social-media-icons img {
          width: 50%;
     }
     .desktop .project-details .projects-outlined {
          width: 150px;
          height: 150px;
     }
     .desktop .contact .contact-info form{
          width: 100%;
          padding: 0 25px;
     }
}

@media (max-width: 690px){
     .desktop{
          display: none;
     }
     .mobile{
          display: block;
     }
     .mobile .nav-bar{
          position: relative;
     }
     .mobile nav{
          position: fixed;
          bottom: 0;
          background-color: rgba(225, 225, 225, 0.15);
          backdrop-filter: blur(5px);
          width: 100%;
          padding: 25px;
          display: flex;
          align-items: baseline;
          justify-content: space-between;
     }
     .mobile nav a{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          text-decoration: none;
          color: white;
          font-size: 15px;
     }

     /* HOME */
     .mobile .home {
          color: white;
          padding: 25px;
          margin-bottom: 50px;
     }
     .mobile .home-image-wrapper {
          width: 100%;
     }
     .mobile .home-image-wrapper img {
          width: 100%;
     }
     /* .mobile .home-text-wrapper {
          
     } */
     .mobile .home-text-wrapper .home-text .hello {
          font-weight: 700;
     }
     .mobile .home-text-wrapper .home-text h1 {
          /* font-size: 40px; */
          font-weight: 900;
          color: var(--primary-color);
          font-family: 'poppins';
     }
     .mobile .home-text-wrapper .home-text .description {
          color: var(--gray);
          margin-bottom: 25px;
     }
     .mobile .home-text-wrapper .home-text a {
          text-decoration: none;
          background-color: white;
          color: black;
          padding: 10px 20px;
          border-radius: 8px;
     }
     
     /* ABOUT */
     .mobile .about {
          color: white;
     }
     .mobile .about .about-header {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
     }
     .mobile .about .about-header i {
          font-size: 30px;
          color: var(--primary-color);
     }
     .mobile .about .about-header h1 {
          font-size: 35px;
          color: var(--primary-color);
     }
     .mobile .about .about-img-wrapper {
          width: 20%;
          margin: auto;
     }
     .mobile .about .about-img-wrapper img {
          width: 100%;
     }
     .mobile .about .about-text-wrapper {
          width: 90%;
          margin: auto;
     }

          /* SKILLS/TECHNOLOGIES */
          .mobile .skillset h1 {
               color: var(--primary-color);
               text-align: center;
               margin: 20px;
               text-transform: uppercase;
          }
     
          .mobile .skillset .skills {
               display: flex;
               flex-wrap: wrap;
               gap: 10px;
               justify-content: center;
          }
     
          .mobile .skillset .skills i {
               font-size: 40px;
               color: var(--primary-color);
          }
     
          .mobile .skillset .skills i:hover {
               color: white;
          }
          .mobile .skillset .skills p {
               background-color: rgba(177, 203, 245, 0.75);
               padding: 5px 8px;
               color: black;
               border-radius: 5px;
          }

          /* RESUME */
          .resume{
               padding: 0;
               padding-bottom: 25%;
          }
          .resume .resume-content{
               padding: 10px;
          }
          .resume .resume-content .bottom .experience .details{
               gap: 15px;
          }

          /* PROJECTS */
          .mobile .project {
               color: white;
               padding: 25px;
               padding-bottom: 25%;
          }

          .mobile .project-details {
               /* width: 95%; */
               margin: auto;
          }
     
          .mobile .project-details .projects-outlined {
               margin-bottom: 45px;
               /* width: 350px; */
               height: 250px;
               border-radius: 10px;
               overflow: hidden;
          }
     
          .mobile .project-details .fylo {
               background: url(./images/fylo.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .harvoxx {
               background: url(./images/harvoxx.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .crappo {
               background: url(./images/crappo.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .rating {
               background: url(./images/rating.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .form {
               background: url(./images/form.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .church {
               background: url(./images/church.png) no-repeat center;
               background-size: cover;
          }
     
          .mobile .project-details .projects-outlined .text-container {
               display: none;
               width: 100%;
               height: 100%;
               background-color: rgb(0, 0, 0, 0.5);
               backdrop-filter: blur(5px);
               color: white;
               padding: 25px 20px;
               align-items: center;
               justify-content: center;
               transition: ease-in-out 0.4s;
          }
     
          .mobile .project-details .projects-outlined:hover .text-container {
               display: flex;
          }
     
          .mobile .project-details .text-container h1 {
               color: var(--primary-color);
               text-align: center;
               margin-bottom: 15px;
               font-size: 18px;
               text-transform: uppercase;
          }
     
          .mobile .project-details .text-container p {
               /* color: black; */
               font-size: 12px;
               margin-bottom: 25px;
          }
     
          .mobile .project-details .text-container p a {
               color: var(--primary-color);
          }
     
          .mobile .project-details .text-container .links {
               display: flex;
               justify-content: center;
               align-items: center;
          }
     
          .mobile .project-details .text-container a {
               text-decoration: none;
               color: white;
          }
     
          .mobile .project-details .text-container a:hover i {
               color: var(--primary-color);
          }
     
          .mobile .project-details .text-container a i {
               font-size: 20px;
               /* color: black; */
          }
     
          .mobile .project-details>a {
               text-decoration: none;
               cursor: pointer;
               color: white;
               font-size: 12px;
          }
     
          .mobile .project-details>a:hover {
               color: var(--primary-color);
          }

     /* CONTACT */
     .mobile .contact {
          padding: 25px;
          padding-top: 50px;
          margin-bottom: 25%;
     }
     .mobile .contact .contact-header {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          margin-bottom: 50px;
     }
     .mobile .contact .contact-header i {
          font-size: 30px;
          color: white;
     }
     .mobile .contact .contact-header h1 {
          font-size: 35px;
          color: white;
     }
     .mobile .contact .contact-info {
          width: 100%;
          margin-bottom: 25px;
     }
     .mobile .contact-links{
          margin-bottom: 25px;
     }
     .mobile .contact-links .tel-wrapper,
     .mobile .contact-links .email-wrapper {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 15px;
     }
     .mobile .contact-links .tel-wrapper i,
     .mobile .contact-links .email-wrapper i {
          font-size: 20px;
          color: black;
          background-color: white;
          border-radius: 50%;
          padding: 10px;
     }
     .mobile .contact-links .tel-wrapper a,
     .mobile .contact-links .email-wrapper a {
          text-decoration: none;
          color: white;
     }
     .mobile .contact-links .social-media-icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
     }
     .mobile .contact-links .social-media-icons img {
          width: 45px;
     }
     .mobile .contact .contact-info form {
          margin-bottom: 25px;
     }
     .mobile form input,
     .mobile form textarea {
          width: 100%;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 10px;
          padding: 12px;
          margin-bottom: 15px;
          color: white;
     }
     .mobile form input[type="submit"] {
          background-color: white;
          padding: 12px;
          color: black;
          cursor: pointer;
     }
     .mobile form input:focus{
          color: white;
     }
     .mobile section.contact .contact-content p {
          text-align: center;
          font-size: 12px;
          color: white;
     }
     .mobile section.contact .contact-content p a {
          color: white;
          text-decoration: none;
          padding-top: 100px;
     }
          .modal .modal-content {
               width: 95%;
          }
}